#media {
  background: @bg;
  background: linear-gradient(
    45deg,
    @blue 20%,
    @icons 40%,
    @purple 60%,
    @grey 80%,
    @text 100%
  );
  background-size: 300% 300%;
  text-shadow: 0 0 5px @black;
  animation: gradient 15s linear infinite;
  color: @black;
}
#custom-next {
  font-size: 1.8em;
  padding: 0em 1em 0em 0.5em;
}
#custom-last {
  font-size: 1.8em;
  padding: 0em 0.5em 0em 0.8em;
}
#custom-music {
  font-size: 1.8em;
}
