#workspaces {
  background-color: @bg;
}
#workspaces button {
  padding: 0em 0.5em 0em 0.5em;
  color: @icons;
}
#workspaces button.empty {
  color: @grey;
}
#workspaces button.active {
  color: @yellow;
}
#custom-stackoverflow {
  color: @red;
  background-color: @bg;
  padding: 0em 1em 0em 0.5em;
}
#custom-user {
  padding: 0em 1em 0em 0.5em;
  color: @text;
  background-color: @bg;
}
