#custom-expand {
  padding: 0.1em 0.6em 0em 0.5em;
  background-color: @bg;
  color: @drawer;
  font-size: 2em;
}
#custom-usages {
  color: @drawer;
  font-size: 2em;
}
#gamemode {
  color: @drawer;
}
#systemd-failed-units {
  font-size: 1.7em;
}
#memory,
#cpu,
#disk,
#temperature,
#gamemode,
#custom-usages,
#systemd-failed-units {
  background-color: @group-bg;
  padding: 0em 0.25em 0em 0.25em;
}

#memory {
  color: @orange;
}

#cpu {
  color: @purple;
}

#temperature {
  color: @red;
}

#disk {
  color: @icons;
}
