#launcher {
  background: @bg;
  background: linear-gradient(
    45deg,
    @blue 20%,
    @icons 40%,
    @purple 60%,
    @grey 80%,
    @text 100%
  );
  background-size: 300% 300%;
  text-shadow: 0 0 5px @black;
  animation: gradient 15s linear infinite;
  color: @teal;
}

#custom-clipboard {
  padding: 0em 0.5em 0em 0.5em;
  font-size: 1.5em;
  color: @black;
}
#custom-launcher {
  padding: 0em 0.25em 0em 1em;
  font-size: 2em;
  color: @black;
}

#custom-wall {
  padding: 1px 10px 1px 10px;
  background-color: @bg;
  color: @bg;
  margin: 5px;
  border-radius: 3em;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}

#custom-wall:hover {
  background-color: @bg;
  color: @invisible;
  padding: 0 20px;
  transition: all 0.3s cubic-bezier(0.55, -0.68, 0.48, 1.682);
}
