#backlight,
#wireplumber,
#pulseaudio {
  background-color: @bg;
}
#backlight {
  color: @yellow;
  font-size: 1.25em;
  padding: 0em 0.2em 0em 0.5em;
}
#wireplumber {
  color: @icons;
  font-size: 1.25em;
  padding: 0em 0em 0em 0.5em;
}
#wireplumber.muted {
  color: @alt;
  font-size: 1.25em;
  padding: 0em 1em 0em 0.5em;
}
#backlight.percent,
#wireplumber.percent {
  padding: 0em 0.5em 0em 0em;
  font-size: 1.2em;
}
#pulseaudio.microphone,
#pulseaudio.micro {
  color: @purple;
  font-size: 1.2em;
  padding: 0em 0.25em 0em 0.25em;
}

#backlight-slider,
#pulseaudio-slider {
  padding: 0em 2em 0em 1em;
  background-color: @group-bg;
}
#backlight-slider slider,
#pulseaudio-slider slider {
  min-height: 5px;
  min-width: 5px;
  opacity: 100;
  background-image: none;
  border-radius: 3px;
  box-shadow: 1px 5px 6px 1px #272727;
}
#backlight-slider trough,
#pulseaudio-slider trough {
  min-height: 5px;
  min-width: 50px;
  border-radius: 5px;
  background-color: @grey;
}
#backlight-slider highlight,
#pulseaudio-slider highlight {
  min-width: 5px;
  border-radius: 5px;
}
