#workspaces {
}
#workspaces button {
  background-color: @black;
  border-radius: 5em;
  margin: 0.8em 1em 0.8em 1em;
  padding: 0em 0.5em 0em 0.5em;
}
#workspaces button.active {
  border-radius: 1em;
  background-color: @red;
  padding: 0em 0.35em 0em 0.35em;
}
