#custom-user {
  margin: 0px 1em 0px 0.5em;
}
#clock {
  margin: 0px 1em 0px 0.5em;
}

#keyboard-state {
  margin: 0px 1em 0px 0.5em;
}

#hardware {
  margin: 0px 0px 0px 2em;
}
#gamemode,
#bluetooth,
#cpu,
#memory,
#temperature,
#battery,
#network,
#upower {
  margin: 0px 0.7em 0px 0.7em;
}

#tray {
}
