#custom-user {
  margin: 0px 1em 0px 0.5em;
}
#clock {
  margin: 0px 1em 0px 0.5em;
}

#keyboard-state {
  margin: 0px 1em 0px 0.5em;
}

#hardware {
  margin: 0px 0px 0px 2em;
}
#gamemode,
#bluetooth,
#cpu,
#memory,
#temperature,
#battery,
#network,
#upower {
  margin: 0px 0.7em 0px 0.7em;
}

#tray {
}

#custom-expand {
  background: @black;
  color: @black;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}
#custom-expand:hover {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}
