#custom-user,
#clock,
#keyboard-state,
#privacy,
#tray,
#battery,
#upower {
  background-color: @black;
  padding: 0em 0.5em 0em 0.25em;
}

#tray {
  padding: 0em 1em 0em 1.5em;
}
#privacy {
  color: @green2;
}
#keyboard-state {
}
#clock {
  font-size: 1.3em;
  color: @white2;
}
#custom-user {
  color: @white2;
  font-size: 1.25em;
}
